header, footer{
    background-color: #B5DCB3;
    display: inline-block;
    width: 100%;
}

header{
    padding: 2%;
}

h1{
    display: inline;
}

header div{
    display: inline;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-left: 40%;
}

div a{
    padding: 3% 0;
    border-left: 2px solid white;
}

ul{
    background-color: #AAAAAA;
}

aside{
    display: inline-block;
}
