table{
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 5px;
    font-size: 50px;
    color:red;
}

label{
    display:block;
    width:100px;
    height:100px;
}

input{
    position: relative;
    top: -300px;
}

input:checked::after{
    content: "♘";
    position: absolute;
    color: #f00;
    top: 255px;
    font-size: 90px;
}
